<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/async/2.6.0/async.min.js"></script>
  	<script type="text/javascript" src="app.js"></script>
  	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Stcok Application</title>
	<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script src="https://www.amcharts.com/lib/3/serial.js"></script>
	<script src="https://www.amcharts.com/lib/3/amstock.js"></script>
	<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
	<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
</head>
<body>
	<h1 class="text-center">Stock Application</h1>
	<div ng-controller="Stocks" class="stocks-container">
		<div class="loader" ng-show="loader"></div>
		<div class="stock-box" ng-repeat="stock in stocks">
			<div class="details">
				<p class="stock-name">{{stock.name}}</p>
				<p class="stock-symbol">{{stock.symbol}}</p>
				<p class="stock-value">{{stock.close}}</p>
				<p ng-class="{positive: stock.difference > 0, negative: stock.difference < 0}"><span ng-if="stock.trend > 0">+</span>{{stock.difference | number : 2}} (<span ng-if="stock.trend > 0">+</span>{{stock.trend | number : 2}}%)</p>
			</div>
			<div id="{{stock.name}}" class="chartdiv">
				<button ng-click="generateChart(stock.name, stock.stockHistory)">Get stock history</button>
			</div>
		</div>
	</div>
</body>
</html>